@font-face {
	font-family: RobotoSlab-Regular;
	src: url(../fonts/RobotoSlab-Regular.ttf) format("opentype");
}
a {
	color: rgb(36, 67, 145); font-family: RobotoSlab-Regular; font-size: 11px; font-weight: bold; text-decoration: none; cursor: hand;
}
a:hover {
	color: black; text-decoration: none;
}
a:active {
	color: black; text-decoration: underline;
}
a:visited {
	color: rgb(52, 67, 145); text-decoration: underline;
}
a:link {
	text-decoration: none;
}
.anchor {
	background: linear-gradient(rgb(52, 152, 219), rgb(41, 128, 185)) rgb(52, 152, 219); margin: 0px 5px 0px 0px; padding: 5px 17px; border: currentColor; border-image: none; width: auto; color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: none; box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.2); -moz-border-radius: 14;
}
.anchor:hover {
	background: linear-gradient(rgb(60, 176, 253), rgb(52, 152, 219)) rgb(60, 176, 253); text-decoration: none;
}
.actionbutton {
	background: rgb(121, 134, 203); border-width: 0px; padding: 12px; border-radius: 4px; transition:background-color 0.3s, color 0.3s; color: rgb(255, 255, 255); line-height: 0; font-family: helvetica; font-size: 12px; display: inline-block; position: relative; min-width: 96px; -webkit-transition: background-color 0.3s, color 0.3s;
}
.actionbutton::before {
	background: inherit; border-radius: 8px; left: -8px; top: -8px; right: -8px; bottom: -8px; position: absolute; z-index: -1; opacity: 0.4;
}
.actionbutton:hover {
	color: rgb(255, 255, 255); cursor: pointer; box-shadow: 0px 0px 4px 2px #ccc; background-color: rgb(177, 114, 120);
}
.actionbutton > a {
	color: white; font-size: 12px; font-weight: normal;
}
.actionbutton > a:hover {
	color: white; text-decoration: none;
}
.b {
	background: url("../images/buttonbg.gif") repeat-x rgb(255, 255, 255); text-align: center; color: rgb(0, 0, 0); font-size: 11px; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; float: left; cursor: hand;
}
.blockDiv {
	visibility: visible; background-color: rgb(255, 245, 245);
}
.bY {
	border: 1px ridge rgb(38, 102, 214); border-image: none; background-color: rgb(240, 240, 204);
}
.bG {
	border: 1px ridge rgb(38, 102, 214); border-image: none; background-color: rgb(208, 208, 208);
}
button.marquee_close {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none;
}
.cone {
	background: rgb(217, 217, 230); width: 10px; height: 10px; margin-top: -14px; margin-left: 10px; border-top-color: rgb(255, 153, 51); border-right-color: rgb(255, 153, 51); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; position: absolute; box-shadow: inset 0px 1px 0px #e0d666; transform: rotate(-45deg); -webkit-box-shadow: inset -1px 1px 0 #e0d666; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-box-shadow: inset 0 1px 0 #e0d666; -o-box-shadow: inset 0 1px 0 #e0d666;
}
center input[type=BUTTON] {
	background-color: rgb(56, 179, 221);
}
caption {
	font-family: RobotoSlab-Regular; font-size: 10pt; font-weight: bold;
}
.c1 {
	left: 10px; top: 75px; height: 150px; visibility: hidden; position: absolute;
}
.creditslayer {
	border-style: outset ridge ridge outset; border-color: rgb(255, 248, 244) rgb(255, 230, 217) rgb(255, 185, 151) rgb(255, 248, 244); color: red; background-color: rgb(247, 247, 238);
}
.cyan {
	color: rgb(0, 184, 192); font-weight: bold;
}
.DataField {
	border: 1px solid rgb(51, 51, 255); padding-right: 2px; padding-left: 2px; font-family: Arial,helvetica,sans-serif; font-size: 8pt;
}
.DataDescField {
	padding-right: 2px; padding-left: 2px; font-family: Arial,helvetica,sans-serif; font-size: 8pt;
}
.etabs {
	margin: 0px; padding: 0px;
}
.err_msg {
	border-width: 2px; border-style: outset ridge ridge outset; border-color: rgb(8, 8, 138); left: 40%; top: 50%; width: 400px; visibility: hidden; position: absolute; z-index: 31;
}
.ERROR {
	color: rgb(214, 81, 100); padding-right: 5px; padding-left: 5px; font-family: RobotoSlab-Regular; font-size: 9pt; font-weight: bold;
}
.ERROR {
	color: rgb(214, 81, 100); padding-right: 5px; padding-left: 5px; font-family: RobotoSlab-Regular; font-size: 9pt; font-weight: bold;
}
#errLayer {
	left: 0px; top: 0px; visibility: visible; position: absolute;
}
font {
	text-align: left; color: black; font-family: RobotoSlab-Regular; font-size: 8pt;
}
.glow {
	padding: 5pt 12pt; left: 0px; top: 0px; height: 40px; position: relative;
}
.gradient {
	background: 0px 0px rgb(121, 165, 201); height: 20px; font-weight: bold;
}
.green {
	color: rgb(0, 110, 30); font-family: RobotoSlab-Regular; font-size: 12px; font-weight: bold; align: left;
}
.gray {
	color: rgb(110, 110, 110); font-family: RobotoSlab-Regular; font-size: 12px; align: left;
}
h1 {
	
}
.H1 {
	color: rgb(68, 68, 68); font-family: RobotoSlab-Regular; font-size: 16pt;
}
.H1 {
	color: rgb(68, 68, 68); font-family: RobotoSlab-Regular; font-size: 16pt;
}
.H2 {
	color: rgb(0, 204, 78); font-family: RobotoSlab-Regular; font-size: 14pt;
}
.H2 {
	color: rgb(0, 204, 78); font-family: RobotoSlab-Regular; font-size: 14pt;
}
html > body .olinks a {
	width: 100%;
}
html > body .olinks :visited {
	width: 100%;
}
.H3 {
	color: rgb(34, 34, 51); font-family: RobotoSlab-Regular; font-size: 12pt;
}
.H3 {
	color: rgb(34, 34, 51); font-family: RobotoSlab-Regular; font-size: 12pt;
}
input {
	background: 0px 0px rgb(252, 252, 252); margin: 0px 5px 0px 0px; padding: 0px 5px; border-radius: 4px; border: 1px solid rgb(216, 187, 183); border-image: none; width: auto; font-family: Arial; font-size: 12px; min-height: 20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px;
}
input:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
input[value=Print] {
	border-color: rgb(28, 101, 178) rgb(24, 88, 156) rgb(24, 88, 156); border-radius: 4px; color: white; box-shadow: inset 0px 1px rgba(255,255,255,0.4), 0px 1px 2px rgba(0,0,0,0.2); background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04)); background-color: rgb(36, 126, 221); -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; -moz-border-radius: 4px; -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2); -ms-border-radius: 4px;
}
input[value=Print]:hover {
	cursor: pointer; background-color: rgb(26, 116, 211);
}
input[type=radio] {
	background: linear-gradient(rgb(250, 251, 252), rgb(236, 239, 243)) rgb(250, 251, 252); padding: 4px; border-radius: 0.1em; width: 1em; height: 1em; line-height: 2em; margin-top: 1px; margin-left: 0px; -webkit-border-radius: 0.1em; -moz-border-radius: 0.1em; -ms-border-radius: 0.1em;
}
input[type=checkbox] {
	background: linear-gradient(rgb(250, 251, 252), rgb(236, 239, 243)) rgb(250, 251, 252); padding: 4px; border-radius: 0.1em; width: 1em; height: 1em; line-height: 2em; margin-top: 1px; margin-left: 0px; -webkit-border-radius: 0.1em; -moz-border-radius: 0.1em; -ms-border-radius: 0.1em;
}
input[type=radio] {
	min-height: 0px;
}
input[type=checkbox] {
	min-height: 0px;
}
input > .ocalendar hasDatepicker {
	width: 70px;
}
input [type=button] {
	background: black; color: black;
}
.links {
	background: rgb(204, 204, 204); border-radius: 2px; color: rgb(0, 0, 0); font-family: RobotoSlab-Regular; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
.links {
	background: rgb(204, 204, 204); border-radius: 2px; color: rgb(0, 0, 0); font-family: RobotoSlab-Regular; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
.links:hover {
	background: 0px 0px rgb(204, 204, 204); color: rgb(0, 0, 0); text-decoration: none;
}
.links a {
	background: linear-gradient(rgb(70, 142, 41), rgb(70, 142, 41)) rgb(70, 142, 41); padding: 4px 5px; border-radius: 2px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; white-space: nowrap; position: relative; box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.links a {
	background: linear-gradient(rgb(70, 142, 41), rgb(70, 142, 41)) rgb(70, 142, 41); padding: 4px 5px; border-radius: 2px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; white-space: nowrap; position: relative; box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.links a:hover {
	background: rgb(255, 255, 255); color: rgb(2, 73, 72); text-decoration: none;
}
.logtoTD {
	font: 9pt/normal Arial; padding: 1px; cursor: hand; font-size-adjust: none; font-stretch: normal;
}
.logtoTD a {
	text-decoration: none;
}
li {
	color: black; line-height: 10pt; font-family: RobotoSlab-Regular; font-size: 9pt;
}
.linksa {
	padding: 1px 2px; border-radius: 2px; transition:0.5s; text-align: center; color: rgb(0, 0, 0); background-image: linear-gradient(to right, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 51%, rgb(161, 196, 253) 100%); background-size: 200% auto;
}
.linksa:hover {
	background-position: right;
}
.menuTD {
	font: bold 9pt/normal Arial; padding: 2px; cursor: hand; font-size-adjust: none; font-stretch: normal;
}
.Outline {
	font: bold 9pt/normal Arial; padding: 2px; cursor: hand; font-size-adjust: none; font-stretch: normal;
}
.menuSelect {
	font: bold 9pt/normal Arial; padding: 2px; cursor: hand; font-size-adjust: none; font-stretch: normal;
}
.Modal {
	border: 2px ridge rgb(240, 20, 150); border-image: none; background-color: rgb(240, 252, 255);
}
#marquee_div {
	background: linear-gradient(rgb(208, 252, 236), rgb(230, 230, 230)) rgb(208, 252, 236); margin: 3px; padding: 1px 20px; border-radius: 5px; border: 1px solid rgb(214, 233, 198); width: auto; color: rgb(30, 40, 36); box-shadow: 2px 2px 2px 2px #ccc;
}
.marquee_close {
	color: rgb(0, 0, 0); line-height: 1; font-size: 25px; font-weight: bold; margin-top: 0px; float: right; opacity: 0.6; text-shadow: 0px 1px 0px #fff;
}
.marquee_close:hover {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5;
}
.marquee_close:focus {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5;
}
.magenta {
	color: rgb(255, 0, 255); font-weight: bold;
}
.newpage {
	page-break-after: always;
}
olinks ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
.olinks li {
	padding: 1px; line-height: 11pt; float: left; z-index: 100;
}
.olinks ul li {
	float: left; position: relative; z-index: 100;
}
.olinks ul ul {
	width: 100%; height: 0px; visibility: hidden; position: absolute;
}
.olinks ul li:hover ul {
	visibility: visible;
}
.olinks ul a:hover ul {
	visibility: visible;
}
.olinks a {
	background: rgb(68, 68, 68); padding: 2px; text-align: center; color: rgb(255, 255, 255); font-family: verdana, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none; margin-right: 1px; display: block;
}
.olinks :visited {
	background: rgb(68, 68, 68); padding: 2px; text-align: center; color: rgb(255, 255, 255); font-family: verdana, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none; margin-right: 1px; display: block;
}
.olinks ul li ul a {
	background: rgb(255, 255, 255); border: 1px outset rgb(238, 238, 238); border-image: none; color: rgb(0, 102, 204);
}
.olinks :visited {
	background: rgb(255, 255, 255); border: 1px outset rgb(238, 238, 238); border-image: none; color: rgb(0, 102, 204);
}
.olinks :hover {
	background: rgb(128, 128, 128); color: rgb(255, 255, 255);
}
.olinks:hover ul ul li {
	height: 15px; font-weight: normal; float: left; display: block; position: relative;
}
.olinks ul li {
	height: 18px;
}
.panel-container {
	margin-bottom: 10px;
}
.purple {
	color: rgb(98, 0, 66); font-family: RobotoSlab-Regular; font-size: 12px; align: left;
}
.round-a-error {
	background: url("../images/error.png") no-repeat left content-box border-box rgb(169, 208, 245); margin: 0px; padding: 4px; border-radius: 10px; height: auto; color: rgb(0, 0, 0); line-height: 16px; font-family: lucida Grande; font-size: 14px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.round-a-error div {
	padding: 10px 20px 10px 40px;
}
.ReportField {
	border: 1px solid rgb(204, 204, 204); width: 100%; height: 16px; color: rgb(0, 0, 0); padding-right: 2px; padding-left: 2px; font-family: Arial,helvetica,sans-serif; font-size: 8pt;
}
.red {
	color: rgb(224, 16, 32);
}
.rounded_corner {
	border-style: hidden !important; border-radius: 15px !important; border-collapse: collapse !important; box-shadow: -1px 0px 0px 0px #000, inset -1px 0px 2px 0px #000, inset 0px 0px 1px 0px #000;
}
.rounded_corner td {
	border: 1px solid rgb(0, 0, 0); border-image: none;
}
select {
	background-position: right 0px, 0px 0px; border-radius: 5px; border: 0px currentColor; border-image: none; height: 21px; text-indent: 0.01px; padding-right: 24px; padding-left: 0.5rem; cursor: pointer; background-image: url("../images/dropdown_icon.jpg"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: rgb(252, 252, 252); -moz-appearance: none;
}
select::-ms-expand {
	display: none;
}
select:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px #000, 0px 0px 8px #66afe9; -webkit-box-shadow: 0 1px 1px #000 inset, 0 0 8px #66afe9; -moz-box-shadow: 0 1px 1px #000 inset, 0 0 8px #66afe9;
}
.searchbutton {
	background: url("../images/search_icon.jpg") rgb(136, 136, 238); margin: 0px 0px 0px -20px; width: 20px;
}
.searchinput {
	margin: 1px 20px 0px 0px;
}
.searchoptionalbutton {
	background: url("../images/searchoptional.gif") rgb(243, 244, 252); margin: 0px 0px 0px -20px; padding: 0px; width: 20px;
}
.ScrollArea {
	width: 100%; height: 60px; overflow: auto;
}
.sectiontitle {
	font: bold 10pt/normal "Arial", "Tahoma", "Sans-Serif"; color: rgb(68, 68, 68); font-size-adjust: none; font-stretch: normal;
}
.sweet-alert {
	padding: 17px; border-radius: 5px; left: 50%; top: 50%; width: auto; text-align: center; overflow: hidden; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; margin-top: -200px; margin-left: -165px; display: none; position: fixed; z-index: 99999; min-width: 21%; background-color: white;
}
.sweet-alert h2 {
	margin: 25px 0px; padding: 0px; text-align: center; color: rgb(87, 87, 87); text-transform: none; line-height: 7px; font-size: 18px; font-weight: 600; display: block; position: relative;
}
.sweet-alert button {
	margin: 26px -99px 0px; padding: 11px 25px; border-radius: 5px; border: currentColor; border-image: none; color: white; font-size: 15px; font-weight: 500; cursor: pointer; box-shadow: none; background-color: rgb(174, 222, 244);
}
.sweet-alert button:hover {
	background-color: rgb(161, 217, 242);
}
sf-menu {
	
}
.sf-menu a {
	padding: 0.3em 0.5em; color: rgb(0, 0, 153); font-size: 12px; font-weight: normal; border-top-color: rgba(255, 255, 255, 0.5); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.sf-menu li {
	background: url("../images/nav-diagonals.png") rgb(106, 213, 203);
}
.sf-menu a:hover {
	background: url("../images/nav-diagonals.png") rgb(201, 255, 251); color: rgb(4, 75, 127); text-decoration: none;
}
.sf-menu li.sfHover {
	background: url("../images/nav-diagonals.png") rgb(201, 255, 251);
}
.sf-menu a::before {
	transition:0.3s ease-in-out; left: 0px; width: 100%; height: 2px; bottom: 0px; visibility: hidden; position: absolute; content: ""; transform: scaleX(0); background-color: rgb(0, 51, 204); -webkit-transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; -moz-transform: scaleX(0); -moz-transition: all 0.3s ease-in-out 0s;
}
.sf-menu a:hover::before {
	visibility: visible; transform: scaleX(1); -webkit-transform: scaleX(1); -moz-transform: scaleX(1);
}
.sfHover a::before {
	transition:0.3s ease-in-out; left: 0px; width: 100%; height: 2px; bottom: 0px; visibility: hidden; position: absolute; content: ""; transform: scaleX(0); background-image: url("../images/nav-diagonals.png"); background-color: rgb(0, 51, 204); -webkit-transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; -moz-transform: scaleX(0); -moz-transition: all 0.3s ease-in-out 0s;
}
.sfHover a:hover::before {
	visibility: visible; transform: scaleX(1); -webkit-transform: scaleX(1); -moz-transform: scaleX(1);
}
.selectwrapper {
	width: auto; margin-top: -3px; float: right;
}
select[multiple] {
	height: 73px; padding-right: 2px; background-image: none;
}
textarea {
	background: 0px 0px rgb(247, 247, 247); padding: 5px; border-radius: 5px; border: 1px solid rgb(216, 187, 183); border-image: none; width: auto; font-family: RobotoSlab-Regular; font-size: 12px; min-width: 250px; max-width: 80%; box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
}
textarea:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
th {
	font-family: RobotoSlab-Regular; font-size: 12px; border-right-color: white; border-right-width: 1px; border-right-style: solid;
}
td {
	font-family: RobotoSlab-Regular; font-size: 11px;
}
form[name='buttonsform'] td {
	vertical-align: middle;
}
td.border {
	border-width: 2px; border-style: outset ridge ridge outset; border-color: rgb(255, 255, 255) rgb(200, 200, 200) rgb(200, 200, 200) rgb(255, 255, 255);
}
td.border1 {
	border-width: 2px; border-style: groove inset inset groove; border-color: rgb(197, 197, 197) rgb(255, 255, 255) rgb(255, 255, 255) rgb(197, 197, 197);
}
.tableContainer {
	vertical-align: top;
}
.title {
	text-align: center; color: rgb(31, 64, 143); font-size: 24px; font-weight: bold;
}
.title {
	text-align: center; color: rgb(31, 64, 143); font-size: 24px; font-weight: bold;
}
.title1 {
	text-align: center; color: rgb(47, 80, 159); font-size: 24px; font-weight: bold;
}
.title1 {
	text-align: center; color: rgb(47, 80, 159); font-size: 24px; font-weight: bold;
}
.tab-container .etabs li a {
	padding-right: 0.5em; padding-left: 0.5em; vertical-align: bottom; display: inline-block; -ms-zoom: 1;
}
.tab-container .etabs li a em {
	padding: 0.2em; text-decoration: none; display: block;
}
.tab-container .etabs .selected a em {
	font-weight: bold; text-decoration: none;
}
.tab-container .etabs li {
	list-style: none; margin: 0px; padding: 0px 0em 0px 0px;
}
.tab-container li em {
	color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: 500;
}
.tab-container .etabs li {
	vertical-align: bottom; display: inline-block; cursor: pointer; -ms-zoom: 1;
}
.tab-container .etabs a {
	text-decoration: none; position: relative;
}
.tab-container .etabs .selected a {
	padding-bottom: 1px; text-decoration: none; margin-bottom: -1px;
}
.tab-container .etabs .panel-container {
	padding: 2px; margin-top: 0px;
}
.tab {
	background: rgb(248, 248, 248); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(153, 153, 153) rgb(153, 153, 153) currentColor; border-radius: 4px 4px 0px 0px; border-image: none; display: inline-block; -ms-zoom: 1; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0;
}
.tab a {
	padding: 0px 10px; color: black; line-height: 2em; font-size: 11px; display: block;
}
.tab a:hover {
	text-decoration: none;
}
.tab.active {
	background: rgb(254, 240, 248); border-color: rgb(255, 0, 255); top: 1px; padding-top: 3px; position: relative; z-index: 1;
}
.tab a.active {
	font-weight: bold;
}
.tab-container .panel-container {
	background: rgb(254, 240, 248); padding: 10px; border-radius: 0px 4px 4px; border: 1px solid rgb(255, 0, 255); border-image: none; -webkit-border-radius: 0 4px 4px 4px; -moz-border-radius: 0 4px 4px 4px;
}
.tooltipnew {
	background: linear-gradient(rgb(217, 217, 230), rgb(255, 255, 255)) rgb(217, 217, 230); margin: 8px; padding: 8px; border-radius: 4px; border: 1px solid rgb(255, 153, 51); transition:opacity 0.25s ease-in-out; animation:fadein 1s; border-image: none; color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-style: italic; position: absolute; z-index: 2; opacity: 1; box-shadow: 0px 0px 2px 2px #ccc; -webkit-transition: opacity .25s ease-in-out; -webkit-animation: fadein 1s; -moz-transition: opacity .25s ease-in-out; -moz-animation: fadein 1s; -o-animation: fadein 1s;
}
table[id^='SCROLLTABLE'] td {
	padding-top: 4px; padding-bottom: 4px;
}
.ui-tooltip {
	border-width: 1px; padding: 8px; position: absolute; z-index: 9999; max-width: 300px;
}
ul {
	margin-top: 0px; margin-left: 25pt;
}
.ui-widget-header {
	background: rgb(242, 112, 98); border: currentColor; border-image: none; color: rgb(255, 255, 255); font-weight: bold;
}
.ui-datepicker .ui-datepicker-title {
	margin: 9px; text-align: center; line-height: 1.8em;
}
.ui-widget-content {
	background: 0px 0px rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(34, 34, 34);
}
#ui-datepicker-div {
	font-size: 12px !important;
}
#ui-datepicker-div table {
	font-size: 12px !important;
}
.ui-datepicker-div {
	font-size: 12px !important;
}
.ui-datepicker-div table {
	font-size: 12px !important;
}
.ui-datepicker-inline {
	font-size: 12px !important;
}
.ui-datepicker-inline table {
	font-size: 12px !important;
}
.ui-datepicker-past {
	background: rgb(255, 249, 249); border: currentColor; border-image: none; color: rgb(46, 110, 158);
}
.ui-datepicker-past a.ui-state-default {
	background: rgb(255, 249, 249); border: currentColor; border-image: none; color: rgb(46, 110, 158);
}
.ui-datepicker-week-end {
	color: red;
}
.ui-datepicker-week-end a.ui-state-default {
	color: red;
}
.ui-datepicker-trigger {
	margin: 0px 0px -1px -5px;
}
.ui-state-default {
	background: none; border: currentColor; border-image: none; text-align: center; color: rgb(85, 85, 85); font-weight: normal;
}
.ui-widget-content a.ui-state-default {
	background: none; border: currentColor; border-image: none; text-align: center; color: rgb(85, 85, 85); font-weight: normal;
}
.ui-datepicker-today a.ui-state-highlight {
	background: rgb(242, 112, 98); font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.ui-datepicker.ui-datepicker-next span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.panel-container.shadow .underlay {
	background-color: rgb(248, 249, 250);
}
.ui-dialog .ui-dialog-titlebar {
	padding: 2px;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif; font-size: 13px;
}
.ui-dialog .ui-dialog-content {
	padding: 0.25em 0.5em;
}
.ui-widget-header {
	background: rgb(121, 165, 201); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(34, 34, 34); font-weight: bold;
}
.ui-state-default {
	background: rgb(121, 165, 201); border-radius: 4px; color: rgb(255, 255, 255); font-weight: normal;
}
.ui-widget-content .ui-state-default {
	background: rgb(121, 165, 201); border-radius: 4px; color: rgb(255, 255, 255); font-weight: normal;
}
.ui-widget-content {
	background: rgb(241, 241, 241); border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(34, 34, 34);
}
.ui-dialog .ui-dialog-buttonpane button {
	float: inherit;
}
.welcometitle {
	font: bold 30pt/normal "Arial", "Tahoma", "Sans-Serif"; padding: 5pt 12pt; left: 0px; top: 0px; height: 20px; color: rgb(246, 112, 160); position: relative; font-size-adjust: none; font-stretch: normal;
}
.yellow {
	color: rgb(255, 255, 0); font-weight: bold;
}
.highcharts-subtitle {
	font-size: 14px !important; font-weight: bold;
}
.shrinkToFit {
	margin-left: 100px; transform: rotate(270deg);
}
